REMOTE_DB_IP=xxx
REMOTE_DB=xxx
REMOTE_DB_USER=xxx
REMOTE_DB_PASS=xxx

LOCAL_DB_IP=localhost
LOCAL_DB=xxx
LOCAL_DB_USER=xxx
LOCAL_DB_PASS=xxx

declare -a IGNORE_LIST
IGNORE_LIST=(tblTournament tblTournamentScore tblTournamentUser tblTournamentTeam tblNews)
