/*** utilies classes ***/
.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.p40 {
    padding: 40px;
}

.mb15 {
    margin-bottom:0.75em;
}
.mb30 {
    margin-bottom:1.5em;
}
.mb40 {
    margin-bottom:2em;
}
.mt15 {
    margin-top:0.75em;
}
.mt30 {
    margin-top:1.5em;
}
.mt40 {
    margin-top:2em;
}

.pb15 {
    padding-bottom:0.75em;
}
.pb30 {
    padding-bottom:1.5em;
}
.pb40 {
    padding-bottom:2em;
}
.pt15 {
    padding-top:0.75em;
}
.pt30 {
    padding-top:1.5em;
}
.pt40 {
    padding-top:2em;
}

.bootbox-body h4.title {
    display: none;
}

/** Modal **/

.modal-content {
    background: #3c3b3b;
}

.modal-body  {
    background-color: #426d84;
}

.modal-content .modal-header {
    background: none;
}

.modal-content .modal-footer {
    background: none;
}

.modal-header .modal-title {
    margin-bottom: 5px;
}