
.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.p40 {
    padding: 40px;
}