/** Soul-Soldiers custom CSS **/

body {
    font-family: 'Droid Sans', sans-serif;
    text-shadow: 0px 0px 1px #1e1e1e;
    /*text-shadow: 0px 1px rgba(255, 255, 255, 0.21);*/
    font-weight: 500;
}

p a:link, p a:visited, p a:hover,
.well a:link, .well a:visited, .well a:hover,
.panel a:link, .panel a:visited, .panel a:hover {
    text-decoration: none;
    border-bottom: #666666;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none;
    color: #00c2ff;
}

#mainMenu a:link, #mainMenu a:visited {
    border: none;
}

h1,h2,h3,h4,h5 {
    text-shadow: 1px 0 4px rgba(0, 0, 0, 0.45)
}

p, small, table, ul li, label, a {
    text-shadow: 1px 1px 0 #141414;
}

/*Menu Fix*/
.navbar-nav ul {
    width: 200px;
    background: rgba(35,35,35,0.96);
}

.navbar-brand img {
    height: 44px;
}

.navbar-nav ul {
    top: 60px;
    left: 11px;
}

.btn {
    border: 1px solid #ccc;
}

.btn:hover {
    color: #000;
}

.color2 a.btn:hover {
    color: #cccccc !important;
}

.alert, input {
    text-shadow: 0px 1px rgba(255, 255, 255, 0.41)
}

.panel-footer {
    background-color: #494949
}


/** login panel **/

.login-panel {
    padding: 30px 40px;
}

.login-footer {
    padding: 20px 50px;
}

.login-panel .input-group {
    margin: 0 15px 10px 15px;
}


/* Form elements */

.form-control {
    /*padding: 5px;*/
    height: 42px;
    margin-bottom: 5px;
}

.form-group label {
    font-size: 14px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.btn {
    text-shadow: none;
}

.form-group .btn {
    margin-top: 5px;
}

div.signup {
    position: relative;
}

div.signup .register-submit {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/* End Form Elements */

#mainMenu .navbar-nav li {
    margin-right: 5px;
}

#mainMenu .subMenu li {
    margin: 0;
}

#mainMenu a {
    font-weight: 500;
}

#mainMenu .navbar-nav li.sep:before {
    content: '';
}

#footerWrapper {
    background: #303030;
}

/**
Panel
**/
.panel-default>.panel-heading:hover {
    color: #cccccc;
}


/**
    News
**/
.panel-default.news {
    border: none;
}

.panel-default.news .panel-heading .news-title {
    position: absolute;
    left: 15px;
}

.panel-default.news .panel-heading .news-date {
    position: absolute;
    right: 15px;
}

.panel-default.news .panel-heading {
    background: none !important;
    color: #ffffff;
    border-bottom: 1px dashed #cccccc;
    position: relative;
    height: 45px;
}

.panel-default.news h3 {
    margin-bottom: 0;
    color: #5e8ea8;
    font-weight: 700;
}


/*.panel-default.news .panel-body {*/
    /*border-bottom: 1px dashed #cccccc;*/
/*}*/

    /*Events*/
div.entries {
    min-height: 300px;
}

.mosaic5 article {
    margin-right: 15px;
}

.mosaic5 a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

/* Curly brace support */

.braces {
    text-decoration: none;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.braces:after, .braces:before {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.braces:before, .braces:after {
    position: absolute;
    top: 33px;
    color: transparent;/* It makes the curly braces invisible at the beginning.*/
    text-shadow: none;
}

/* Fix for the fixed header menu */
.fixedHeader .braces:before, .fixedHeader .braces:after {
    top: 19px;
}

.braces:hover:before, .braces:hover:after {
    color: #ccc;
}

/* For movement */
.braces:before {
    content: "[";
    left: -20px;
}
.braces:hover:before {
    left: -5px;
}
.braces:after {
    content: "]";
    right: -20px;
}
.braces:hover:after {
    right: -5px;
}
/*End curly brace support*/

/*Fonts*/

/*misc*/

.alert a {
    color: #000000;
}

.input-group, .form-group .noaddon {
    position: relative;
}
.input-group input, .form-group .noaddon input {
    padding-right: 30px;
}
.input-group span.form-error, .form-group .noaddon span.form-error {
    position: absolute;
    right: 0px;
    padding: 15px 17px;
    pointer-events: none;
    color: red;
    z-index: 100;
}

div.popover {
    background: rgba(66,109,132,0.85);
    color: #E06D6D;
    text-shadow: 0px 1px 1px #000;
}

div.popover-content {
    border-color: #000000;
}

.well {
    background: #4E4E4E;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}

.well-large {
    padding: 20px 10px;
}

.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.p40 {
    padding: 40px;
}

.container [class^="col-"] .gutter {
    padding: 10px;
    background-color: #3c3b3b;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr.lineStar:after, hr.lineX:after, hr.linePlus:after, hr.lineDot:after, hr.lineLines:after {
    background: #3c3b3b;
}

hr {
    border: 1px solid #4f4e4e;
}

.input-group-addon {
    text-shadow: none;
}

.price {
    font-size: 24px;
}

/** Modal **/

.modal-content {
    background: #3c3b3b;
}

.modal-body  {
    background-color: #426d84;
}

/**
Index / news / tweets
*/
.news-container .gutter, .tweet-container {
    min-height: 606px;
}

.news-container {
    padding-left: 0;
}

.tweet-container {
    padding-left: 0;
    padding-right: 0;
}
.tweet-container iframe {
    width: 100%;
}

.news-container h2 {
    padding-top: 10px;
}

/** Events **/
.lan-info {
    background-image: url('../img/lan-bg_3.png');
    background-color: rgba(255,255,255,0);
    background-size: 100%;
    background-position: 24% 43% !important;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

.lan-info p {
    text-shadow: 2px 1px 1px #000000;
}

@media (max-width: 768px) {
    .lan-info {
        background-image: none;
        background-color: #3c3b3b;
    }
}

.imgHover figure {
    width: 160px;
    height: 140px;
}

.table.noborders td{
    border: none !important;
}

strong {
    font-weight: 600;
}

.form-group .textonly {
    padding-top: 7px;
    padding-bottom: 7px;
}

.admin-container > div {
    min-height: 350px;
}

/*Nav pill styling*/

ul.nav-pills li {
    margin-right: 5px;
}

ul.nav-pills li a {
    background-color: #5A5858;
}

ul.nav-pills li a:hover {
    background-color: #3d5d71;
    color: #ffffff
}