AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !/doc.?
    RewriteCond %{REQUEST_URI} !/demo.?
    RewriteCond %{REQUEST_URI} !/js.?
    RewriteCond %{REQUEST_URI} !/img.?
    RewriteCond %{REQUEST_URI} !/css.?
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>